/*
NOM : MOCAN
Prénom : Lucian

NOM : COSMO
Prénom : Tanguy

*/

body{
    font-family: sans-serif;
    background-color: cornsilk;
}

h1{
    text-align: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.puzzledescription {
    text-align: center;
}

footer{
    text-align: center;
    font-size: 90%;
    font-style: italic;
}

#shuffle{
    border-style: none;
    border-radius: 5px;
}

#shuffle:hover{
    color: white;
    background-color: cornflowerblue;
}

#puzzlearea{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 360px;
    width: 360px;
}

.tuile{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    height: 88px;
    width: 88px;
    background-size: 88px;
}

.tuile p{
    display: flex;
    justify-content: center;
    font-size: 110%;
    text-shadow: 1px 0 0 #fff,
    -1px 0 0 #fff,
    0 1px 0 #fff,
    0 -1px 0 #fff,
    1px 1px #fff,
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff;
    /*les nombres seront entourés d'une bordure blanche*/
}